<mat-toolbar color="primary">
  <span class="fill-remaining-space">
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu" [overlapTrigger]="false">
      <button mat-menu-item (click)="showAccueilPage()">
        <mat-icon>home</mat-icon>
        <span>Accueil</span>
      </button>
      <button mat-menu-item>
        <mat-icon>people_outline</mat-icon>
        <span>Connexion</span>
      </button>
      <button mat-menu-item (click)="showQRCodePage()">
        <mat-icon>videocam</mat-icon>
        <span>Lire des QR Code</span>
      </button>
      <button mat-menu-item>
        <mat-icon>exit_to_app</mat-icon>
        <span>Déconnexion</span>
      </button>
    </mat-menu>
  </span>
  <span class="fill-remaining-space">MAT2K reborn</span>
</mat-toolbar>
<main>
    <router-outlet></router-outlet>
</main>